* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto';
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.command {
  font-size: 50px;
}

.tempo-btn-group {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  justify-self: end;
  display: flex;
  align-items: center;
}

.tempo-btn-group > * {
  margin: 10px;
}

.btn {
  font-size: 40px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.timeout {
  color: rgba(255, 255, 255, 0.6);
}
